<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554422603561-61kalmbof7mol03h4guje22i7kcmvvt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554422603561-61kalmbof7mol03h4guje22i7kcmvvt7</string>
	<key>API_KEY</key>
	<string>AIzaSyAC8NvOUqxBDepU7nDihFQR7chGBdsqpKc</string>
	<key>GCM_SENDER_ID</key>
	<string>554422603561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instavideoDownloader.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cc-insta-video-saver-898cc</string>
	<key>STORAGE_BUCKET</key>
	<string>cc-insta-video-saver-898cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554422603561:ios:96d8c21d2a821070253138</string>
</dict>
</plist>